
	table {
			border-collapse: collapse;
	
			width: 100%;
			margin: 40px auto;
		    
		   
        
		    
		}
		
		th, td {

			padding: 10px;
			text-align: left;
			font-family: sans-serif;
			/* border:2px solid black; */
			
			
		}

		
		th {
			/* background-color: #f0f0f0; */
			color: #333;
			
		}
   thead{
	   background-color:lightblue
   }
tr{
   background-color:
}
.t{
	background-color:lightgrey
}


		